Robot2020/.gradle/5.2.1/executionHistory/executionHistory.bin
Robot2020/.gradle/5.2.1/executionHistory/executionHistory.lock
Robot2020/.gradle/5.2.1/fileChanges/last-build.bin
Robot2020/.gradle/5.2.1/fileHashes/fileHashes.bin
Robot2020/.gradle/5.2.1/fileHashes/fileHashes.lock
Robot2020/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Robot2020/.gradle/5.2.1/gc.properties
Robot2020/.gradle/buildOutputCleanup/cache.properties
Robot2020/.gradle/buildOutputCleanup/outputFiles.bin
Robot2020/.gradle/vcs-1/gc.properties
Robot2020/.idea/.name
Robot2020/.idea/gradle.xml
Robot2020/.idea/misc.xml
Robot2020/.idea/vcs.xml
Robot2020/.idea/workspace.xml
Robot2020/.vscode/launch.json
Robot2020/.vscode/launch.json
Robot2020/.vscode/launch.json
Robot2020/.vscode/settings.json
Robot2020/.vscode/launch.json
Robot2020/.vscode/launch.json
Robot2020/.idea/compiler.xml
Robot2020/.idea/jarRepositories.xml
Robot2020/.idea/$PRODUCT_WORKSPACE_FILE$
.idea/
Robot2020/out/production/classes/META-INF/Robot2020_main.kotlin_module
/.gradle
/libraries
/.vscode